
<script type="text/javascript">
			bioEp.init({
				width: 394,
				height: 298,
				cookieExp: 30,
              	delay: 5,
              	showOnDelay: true
			});
		</script>
		
<div id="bio_ep">
  <div class='popup'>
  <form id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='mc-form' style="position:relative">
 
  <div class='input-group'>
     <label for='mc-email' style='position: absolute;left: 0;bottom: -40px;text-align:left;z-index:9999;width:360px;'></label>
    <input type='email' placeholder='email address' name='EMAIL' id='mc-email' class='input-group-field newsletter__input' autocorrect='off' autocapitalize='off'>
    <span class='input-group-btn'>
      <button type='submit' class='btn newsletter__submit' name='submit' id='Subscribe'>
        <span class='newsletter__submit-text--large'>submit</span>
        <span class='newsletter__submit-text--small'>&rarr;</span>
      </button>
    </span>
  </div>
  </form>
  </div>
</div>
<!-- /templates/page.liquid -->
<div class="se-pre-con"></div>
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>