
<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
            <form id="mc-form">
        		<input id="mc-email" type="email" placeholder="email">        		
		        <button type="submit">Submit</button>
              <label for="mc-email"></label>
    		</form>
        </div>
      </div>
    </div>

  </div>
</div>
