<div class="grid">
  <hr class="hr--clear">
  <div class="grid__item large--one-third text-center">
    <img src="{{ 'Stores_NYC_2016_01.jpg' | asset_url }}"><br>
    <h1>NEW YORK</h1>
    <h5><strong>ADDRESS</strong></h5>
    <p>705 Greenwich St | New York, NY 10014 | <a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA">MAP IT</a></p><br>
    <h5><strong>HOURS</strong></h5>
    <p>
	Mon – Wed, 10AM – 6PM<br>
	Thurs, 11AM – 7PM<br>
	Fri, 10AM – 6PM<br>
	Sat, 11AM – 6PM<br>
	Sun, 12PM – 5PM<br><br>
    </p>
    <h5><strong>CONTACT</strong></h5>
    <p>Phone: 212 206 3999<br>
      Email: 705@urbanzen.com</p>
  </div>
  <div class="grid__item large--one-third text-center">
    <img src="{{ 'Store_SH_2015_11_11.jpg' | asset_url }}"><br>
    <h1>SAG HARBOR</h1>
    <h5><strong>ADDRESS</strong></h5>
    <p>4 Bay Street | Sag Harbor, NY 11963 | <a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA">MAP IT</a></p><br>
    <h5><strong>HOURS</strong></h5>
    <p>
Mon, 10AM – 5PM<br>
Tue, Closed<br>
Wed &amp; Thurs, 10AM – 5PM<br>     
Fri &amp; Sat, 10AM – 6PM<br>
      Sun, 11AM – 5PM<br><br>
    </p>
    <h5><strong>CONTACT</strong></h5>
    <p>Phone: 631 725 6176<br>
    Email: uzsh@urbanzen.com</p>
  </div>
  <div class="grid__item large--one-third text-center">
    <img src="{{ 'Stores_Aspen_2016_01.jpg' | asset_url }}"><br>
    <h1>ASPEN</h1>
    <h5><strong>ADDRESS</strong></h5>
<p>Residences at The Little Nell | 501 E. Dean Street<br>
	Aspen, Colorado 81611 | <a target="_blank" href="https://www.google.com/maps/place/501+E+Dean+St,+Aspen,+CO+81611/data=!4m2!3m1!1s0x8740396264024019:0x1960e48ba2614167?sa=X&ei=KuUaVYOtDJPdsATZl4G4Dw&ved=0CB4Q8gEwAA">MAP IT</a></p>
    <h5><strong>HOURS*</strong></h5>
<p>Mon - Sat, 11AM - 6PM<br>
Sun, 12PM - 5PM<br>
  <i>* Please call the store to confirm store hours.</i><br><br>
      </p>
    <h5><strong>CONTACT</strong></h5>
<p>Phone: 970 710 2961<br>
  Email: aspen@urbanzen.com</p>
  </div>

</div>
<div style="background-color:#545454; margin: 28px;height:1px;"></div>
<div class="wrapper partners">
  <div class="grid">
    <div class="grid__item large--one-quarter">
      <h3>URBAN ZEN</h3>
      <h1>Retail <br>Partners</h1>
    </div>
    <div class="grid__item large--one-quarter">
      <h3>USA</h3>
      <p>
        <strong>A’MAREE’S</strong><br/>
		2241 West Coast Highway<br>
		Newport Beach, CA 92663<br><br/>
		<strong>CHOICES</strong><br/>
		5416 Walnut Street<br/>
		Pittsburgh, PA 15232<br/><br/>
		<strong>FORTY FIVE TEN</strong><br/>
		4510 McKinney Ave<br/>
		Dallas, TX 75205<br/><br/>
		<strong>GILDA’S</strong><br/>
		101 Union St # B<br/>
		Newton, MA 02459<br/>
	  </p>
    </div>
    <div class="grid__item large--one-quarter">
      <h3></h3><br>
      <strong>GUS MAYER | BIRMINGHAM</strong><br>
<p>The Summit Birmingham<br>
225 Summit Blvd #700<br>
Birmingham, AL 35243<br><br>
 <strong>GUS MAYER | NASHVILLE</strong><br>
The Mall at Green Hills<br>
2113 Green Hills Village Drive<br>
Nashville, TN 37215<br><br>
  <strong>HIRSHLEIFERS</strong><br>
2080 Northern Blvd<br>
Manhasset, NY 11030<br>
  <strong>SUSAN</strong><br>
3685 Sacramento Street<br>
San Francisco, CA 94118<br>
    </div>
    <div class="grid__item large--one-quarter">
      <h3>SWITZERLAND</h3>
<p>
  <strong>THE CHEDI HOTEL | ANDERMATT</strong><br>
Gotthardstrasse 4, CH-6490<br>
Andermatt, Switzerland<br><br>
  <strong>TROIS POMMES | BASEL</strong><br>
Freie Strasse 74 4051<br>
Basel, Switzerland<br><br>
  <strong>TROIS POMMES | GSTAAD</strong><br>
Palace Strasse 1 3780<br>
  Gstaad, Switzerland<br><br>
  <strong>TROIS POMMES | ST. MORITZ</strong><br>
Via Veglia 8 7500<br>
St. Moritz, Switzerland<br><br>
  <strong>TROIS POMMES | ZURICH</strong><br>
Weggengasse 1 8001<br>
Zürich, Switzerland
      </p>
    </div>
  </div>
</div>