<div class="grid padded">
  	<hr class="hr--clear">
  <div class="grid__item large--one-third">
    <h1>{{ page.title }}</h1>
	{{ page.content }}
  </div>
  <div class="grid__item large--two-thirds">
    	<hr class="hr--small">
  	<div class="grid__item large--one-half text-center">
      <a href="/blogs/donnas-voice/">

    	<img src="{{ 'Third-Image-Donna_horiz1.jpg' | asset_url }}">
                <span class="grid-product__meta">
          <span class="grid-product__title">Donna's Voice</span>
    	</span>
      </a>
    </div>
    <div class="grid__item large--one-half text-center">
      <a href="/pages/stores/">

        <img src="{{ 'Stores_NYC_2016_01.jpg' | asset_url }}">
                <span class="grid-product__meta">
          <span class="grid-product__title">Our Stores</span>
        </span>
      </a>
    </div>
  </div>
</div>
